$black: #282c34;
$white: #abb2bf;
$green: #98c379;

$background: $black;
$button-text: $black;
$button-pause-border: #ffffff;
$button-pause: #ffffff;
$button-play: #7a4646;

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
