@import "./common";

.App {
  position: relative;
  overflow: hidden;
  height: 100%;
  // Small
  @include media-small {
    width: 100%;
  }
  // Large
  @include media-large {
    width: 576px;
    margin: auto;
  }
}

.metronome {
  height: 100%;
  width: 100%;
  background-color: $background;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  transition: transform 0.3s ease;
}
.metronome.shrink {
  transform: scale(0.5);
}
