@import "./common";

.wrapper {
  position: absolute;
  z-index: 500;
  top: 2rem;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;

  display: grid;
  grid-template-rows: 1fr 4rem;
  grid-template-columns: 1fr 1fr;

  transition: transform 0.3s ease, opacity 0.3s ease, z-index 0.3s linear;

  pointer-events: none;
}

.wrapper.hidden {
  z-index: 100;
  transform: translateY(calc(-100% + 2rem));
}

.wrapper.hidden:hover {
  @include media-large() {
    z-index: 105;
    transform: translateY(calc(-100% + 2rem + 0.5rem));
  }
}

.wrapper.invis {
  opacity: 0;
  // transform: translateY(calc(-100% - 2rem));
}

.tray {
  pointer-events: painted;

  grid-column: 1 / span 2;
  grid-row: 1;

  background-color: $blue;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;

  padding: 1rem 2rem;
}

.showHide {
  margin-top: -1px;
  margin-left: 0.5rem;
  pointer-events: painted;

  grid-column: 2;
  grid-row: 2;

  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  border-top: 2px solid $blue;

  padding-left: 1rem;
  padding-right: 1rem;

  background-color: $blue;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  display: grid;
  grid-template-columns: 2rem 1fr;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 1.5rem;
}
