@use "sass:color";
@import "./common";

.StartButton {
  width: 10rem;
  height: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $gray-700;
  border-color: $gray-600;
  border-radius: 50%;
  border-style: solid;

  transition: box-shadow 0.1s ease, background-color 0.1s ease;
}

.label {
  font-size: 5rem;
  color: white;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  transition: font-size 0.1s ease;
}

.label.large {
  font-size: 5.5rem;
}

.StartButton.play {
  background-color: scale-color($color: #00ff00, $lightness: -30%);
  box-shadow: 0px 5px 10px 0px black;
}
