@import "./common";

.StartButton {
  width: 15rem;
  height: 15rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $button-pause;
  border-color: $button-pause-border;
  border-radius: 50%;
  border-style: solid;

  transition: box-shadow 0.1s ease, background-color 0.1s ease;
}

.StartButton.play {
  background-color: $button-play;
  border-color: $button-play-border;
  box-shadow: 0px 1px 15px 0px $button-play-shadow;
}

@keyframes grow {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.StartButton.pulse {
  animation: grow 0.1s ease;
}

.label {
  font-size: 7rem;
  color: $button-text;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  transition: font-size 0.1s ease;
}

.label.large {
  // font-size: 8rem;
}
