@import "./common";

.wrapper {
  width: 100%;
  display: flex;
}

.slider {
  flex-grow: 1;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 1rem;

  border-radius: 1rem;
  background: $slider-background;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  -webkit-appearance: none;
}

// Thumb

@mixin range-thumb {
  cursor: pointer;
  background: $slider-thumb;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.slider::-moz-range-thumb {
  @include range-thumb;
}
.slider::-webkit-slider-thumb {
  @include range-thumb;
  appearance: none;
  -webkit-appearance: none;
}

@mixin slider-thumb-hover {
  transform: scale(1.1);
}

.slider::-webkit-slider-thumb:hover,
.slider::-webkit-slider-thumb:focus {
  @include slider-thumb-hover;
}
.slider::-moz-range-thumb:hover,
.slider::-moz-range-thumb:focus {
  @include slider-thumb-hover;
}
