@import "common";

.TickerUnsticker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $background;

  z-index: 200;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.label {
  text-align: center;
  font-size: 2rem;
  color: $grey-text;
}
