.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 0.25s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  font-size: 30px;
  margin: 8px 0px 0px 0px;
}

.header {
  margin: 8px;
}

.controls {
  text-align: left;
}

.page kbd {
  padding: 2px 4px;
  background: var(--secondary);
  border-radius: 2px;
}
